# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
twitterdev_wrapper/*.ipynb_checkpoints

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
my_config.py
config.py
*.DS_Store
twitterdev_wrapper/credentials_handling_test.ipynb
twitterdev_wrapper/my_twitter_keys.yaml
twitterdev_wrapper/python_wrapper_test.ipynb
twitterdev_wrapper/search_tweets_creds.yaml